{% extends "base.html" %}


{% block content %}




    <div id="myChart" style="height:800px;width:800px;margin-left:30%;margin-top: 100px"></div>
    <div style="color: dimgrey;margin-top: 30px;text-align: center;font-size: 12px">Copyright © 2017 浙江工商大学信息学院508实验室</div>


<script src="../static/scripts/echarts.min.js"></script>
<script src="../static/scripts/jquery-1.7.2.min.js"></script>
<script>


var myChart2 = echarts.init(document.getElementById('myChart'));
option2 = {
    title: {
        text: '顺丰股票评论分析',
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:['不成熟用户分析','正常分析','成熟用户分析']
    },
    toolbox: {
        show: true,
        feature: {
            magicType: {show: true, type: ['stack', 'tiled']},
            saveAsImage: {show: true}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['2016-09','2013-10','2016-11','2016-12','2017-01','2017-02','2017-03']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        name: '成熟用户分析',
        type: 'line',
        smooth: true,
        data: {{ scoreoldlist }}
    },
    {
        name: '正常分析',
        type: 'line',
        smooth: true,
        data: {{ scorelist }}
    },
    {
        name: '不成熟用户分析',
        type: 'line',
        smooth: true,
        data: {{ scorenewlist }}
    }]
};
myChart2.setOption(option2);
</script>
{% endblock %}