<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>舆情分析系统</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/animation.css">
    <link rel="stylesheet" href="../static/css/response.css">
    <script src="../static/js/jquery-1.12.1.js"></script>
    <script src="../static/js/touch.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body style="overflow: hidden">
<!--头部-->
            <header>
                <div class="header">
                    <div class="container">
                        <div class="row">
                            <div class="col-m-2 col-s-5 co0" style="vertical-align: middle">508舆情分析</div>
                            <div class="col-m-1 col-s-hide co1"><a href="index.html">首页</a></div>
                            <div class="col-m-1 col-s-hide co2"><a href="introduction.html">产品介绍</a></div>
                            <div class="col-m-1 col-s-hide co6"><a href="login.html">登录</a></div>
                            <div class="col-m-1 col-s-hide co7"><a href="register.html" >注册</a></div>
                        </div>
                    </div>
                </div>
            </header>


<div class="out">
{#    <div class="box1 box">#}
{#        <div class="dyun">#}
{#            <div class="yun1"></div>#}
{#            <div class="yun2"></div>#}
{#        </div>#}
{#        <div class="zyun">#}
{#            <div class="yun1"></div>#}
{#            <div class="yun2"></div>#}
{#        </div>#}
{#        <div class="xyun">#}
{#            <div class="yun1"></div>#}
{#            <div class="yun2"></div>#}
{#        </div>#}
{##}
{#            <div class="container" style="position: relative; z-index: 5">#}
{#                <div class="row">#}
{#                    <!--左-->#}
{#                    <div class="col-m-5 col-s-hide left" style="height: 100%;">#}
{#                        <div class="left1"></div>#}
{#                        <div class="fly"></div>#}
{#                        <div class="ship"></div>#}
{#                        <div class="hill1"></div>#}
{##}
{#                    </div>#}
{##}
{#                    <!--右-->#}
{#                    <div class="col-m-5 col-s-10 right " style="height: 100%;">#}
{#                        <div class=""></div>#}
{#                        <div class="hill2"></div>#}
{#                        <div class="hill3"></div>#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{#        <div class="bottom">#}
{#            <div class="x_btn"></div>#}
{#        </div>#}
{##}
{#    </div>#}
    <div class="box2 box">
        <div class="container">
            <div class="row">
                <div class="col-m-5 col-s-10  ll">
                    <div class="ling"></div>
                    <div class="ling1"></div>
                    <div class="sq1"></div>
                    <div class="sq2"></div>
                    <div class="sq3"></div>
                </div>
                <div class="col-m-5 col-s-hide rr">
                    <div class="brain"></div>
                    <div class="sq4"></div>
                    <div class="sq5"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box3 box" style="position: relative">
        <div class="container">
            <div class="row">
                <div class="col-l-5 col-s-10 ll">
                    <div class="quan"></div>
                    <div class="quan1"></div>
                    <div class="cq1"></div>
                    <div class="cq2"></div>
                    <div class="cq3"></div>
                    <div class="cq4"></div>
                    <div class="cq5"></div>
                </div>
                <div class="col-l-5 col-s-hide rr">
                        <div class="all"></div>
                </div>
            </div>
         </div>
        <div class="bottom1"></div>
    </div>
    <div class="box4 box" style="position: relative">
        <div class="container">
            <div class="row">
                <div class="col-m-5 col-s-10 ll">
                    <div class="zhuan"></div>
                    <div class="zhuan1"></div>
                    <div class="zhuan2"></div>
                </div>
                <div class="col-m-5 col-s-hide rr">
                    <div class="zhuan3"></div>
                </div>
            </div>
        </div>
        <div class="copy">Copyright © 2017 浙江工商大学信息学院508实验室</div>
    </div>
    <div class="btn">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
</body>
</html>