{% extends "base.html" %}

{% block content %}


	<div class="intro-one" style="height: 1000px;width: 100%" >
		<div style="position:relative;height: 400px;" >
            <p style="font-size:30px;position:absolute;top:60px;left:33%">信息全面，快速搜索，掌握最新的舆情分析信息</p>
            <div class="slides1" style="text-align: center">
                <div style=" width:100px; height:100px; background-color:#7CBD4D; border-radius:50px;display:inline-block;margin-top:130px;">
                    <a href="hotel.html">
                        <span style="height:100px; line-height:100px; display:block; color:#FFF; text-align:center;font-size:19px">酒店评论</span>
                    </a>

                </div>
                <div style=" width:100px; height:100px; background-color:#E45454; border-radius:50px;margin-left:50px;display:inline-block">
                    <a href="shares.html">
                        <span style="height:100px; line-height:100px; display:block; color:#FFF; text-align:center;font-size:19px">股票评论</span>
                    </a>
                </div>
                 <div style=" width:100px; height:100px; background-color:#7CBD4D; border-radius:50px;margin-left:50px;display:inline-block">
                     <span style="height:100px; line-height:100px; display:block; color:#FFF; text-align:center;font-size:19px">拓展...</span>
                </div>
                 <div style=" width:100px; height:100px; background-color:#E45454; border-radius:50px;margin-left:50px;display:inline-block">
                     <span style="height:100px; line-height:100px; display:block; color:#FFF; text-align:center;font-size:19px">拓展...</span>
                </div>
            </div>
           <div class="container1" style="margin-left: 440px;margin-top: 50px;margin-bottom: 50px">
                <div class="row" style="padding-bottom: 50px;border-bottom:  #dddddd;">
                    <div class="col-md-4 col-sm-6">
                           <div class="row">
                                <div class="col-xs-12">
                                    <div class="media" style="border-right: solid 1px #3A88C6;">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/image/icon1.png" alt="icon1" style="width:60px; height:64px;" class="media-object">
                                            </a>
                                        </div>
                                        <div class="media-body" >
                                            <h4 class="media-heading"><strong>参与自由度大</strong></h4>
                                            匿名发帖让负面消息无从溯源；
                                        </div>
                                    </div>
                                    <div class="media" style="border-right: solid 1px #3A88C6;">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/image/icon2.png" alt="icon2" style="width:60px; height:64px;" class="media-object">
                                            </a>
                                        </div>
                                        <div class="media-body" >
                                            <h4 class="media-heading"><strong>网民互动性高</strong></h4>
                                            通常分阵型探讨、争论甚至交锋，容易引发关注；
                                        </div>
                                    </div>
                                    <div class="media" style="border-right: solid 1px #3A88C6;">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/image/icon3.png" alt="icon3" style="width:60px; height:64px;" class="media-object">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><strong>舆情覆盖范围广</strong></h4>
                                            政治、经济、文化、社会、生活，无一疏漏；
                                        </div>
                                    </div>
                                    <div class="media" style="border-right: solid 1px #3A88C6;">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/image/icon4.png" alt="icon4" style="width:60px; height:64px;" class="media-object">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><strong>言论情绪偏差大</strong></h4>
                                            主观、偏激、不健康，随时引爆舆论争议；
                                        </div>
                                    </div>
                                    <div class="media" style="border-right: solid 1px #3A88C6;">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../static/image/icon5.png" alt="icon5" style="width:60px; height:64px;" class="media-object">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><strong>传播速度迅猛</strong></h4>
                                            点击过亿只需数小时即可轻易达成。
                                        </div>
                                    </div>

                                </div>
                           </div>
                        </div>
                    <div class="col-md-4">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="media-heading family" style="color:#00a7e7;">品牌维护</h3>
                                通过舆情监测，及时关注行业敏感舆情，有效引导，并及时化解企业可能面临的各种危机或者利用有利的舆论有效推广企业，维持企业在消费者心中的形象和信用度。
                            </div>
                        </div>
                        <div class="media" style="margin-top: 30px;">
                            <div class="media-body">
                                <h3 class="media-heading family" style="color:#00a7e7;">决策制定</h3>
                                舆情监测提供高效集中的平台让企业随时了解行情，把握竞争对手动态，并通过分析这些信息，帮助企业制定决策，规划、调整未来公司运营方向。
                            </div>
                        </div>
                        <div class="media" style="margin-top: 30px;">
                            <div class="media-body">
                                <h3 class="media-heading family" style="color:#00a7e7;">用户巩固</h3>
                                通过舆情监测能及时获知用户的需求，并及时给出相应的回复以及处理方案，和传播打时间占有战，让用户能在第一时间获悉企业对问题的处理方式，有效提高用户忠诚度。
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="color: dimgrey;margin-top: 480px;text-align: center;font-size: 12px">Copyright © 2017 浙江工商大学信息学院508实验室</div>
    </div>

{% endblock %}
